@use '../../styles/variables.scss' as *;

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spinner {
  width: var(--spinner-size, 20px);
  height: var(--spinner-size, 20px);
  border: calc(var(--spinner-size) / 10) solid transparent;
  border-top-color: white;
  border-width: 3px;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}